
# Aliases
#
# Some people use a different file for aliases
# if [ -f "${HOME}/.bash_aliases" ]; then
#   source "${HOME}/.bash_aliases"
# fi
#
# Some example alias instructions
# If these are enabled they will be used instead of any instructions
# they may mask.  For example, alias rm='rm -i' will mask the rm
# application.  To override the alias instruction use a \ before, ie
# \rm will call the real rm not the alias.
#
# Interactive operation...
# alias rm='rm -i'
# alias cp='cp -i'
# alias mv='mv -i'
#
# Default to human readable figures
# alias df='df -h'
# alias du='du -h'
#
gitPush(){
  git push $1 $2 $3 $4
}
gitDiff(){
  git diff $1 $2 $3 $4
}
gitMerge(){
  git merge $1
}
Git(){
  git $1 $2 $3 $4 $5
}
gitCommit(){
  git commit $1 $2
}
gitAppendGitIgnore(){
  git status -s|grep '?? '|sed 's/??\ //' >> .gitignore
}
gitStatus(){
  git status
}
gitStatusShort(){
  git status -s
}

gitLogFancy(){
  git log --oneline --decorate
}

gitLogTree(){
  git log --graph --oneline --decorate --all
}

alias gst=gitStatusShort
alias gsta=gitStatus
alias gAppIgnore=gitAppendGitIgnore
alias gic=gitCommit
alias gm=gitMerge
alias g=Git
alias gd=gitDiff
alias gp=gitPush
alias glog=gitLogFancy
alias glot=gitLogTree
#alias git='echo "USE g instead of git you IDIOT!!!111"'

# Misc :)
# alias less='less -r'                          # raw control characters
# alias whence='type -a'                        # where, of a sort
alias grep='grep --color'                     # show differences in colour
alias grepn='grep -n'                         # Add line number!
# alias egrep='egrep --color=auto'              # show differences in colour
# alias fgrep='fgrep --color=auto'              # show differences in colour
#
# Some shortcuts for different directory listings
alias ls='ls -hF --color=tty'                 # classify files in colour
# alias dir='ls --color=auto --format=vertical'
# alias vdir='ls --color=auto --format=long'
alias ll='ls -la'                              # long list
alias la='ls -A'                              # all but . and ..
alias l='ls -CF'                              #
#alias emacs='echo "USE e instead of emacs you IDIOT!!!"'
alias e='"emacs"'

startGitk(){
  #Gitk hack
  startxwin >/dev/null 2>&1
  export DISPLAY=localhost:0.0
  gitk&
}
alias gitk=startGitk
